.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: urL("https://st2.depositphotos.com/1036970/12127/v/950/depositphotos_121279090-stock-illustration-math-linear-mathematics-education-circle.jpg") no-repeat center center fixed;
  background-size: cover;
}

#special {
  color: lightblue;
}

#equal-sign {
  color: lightblue;
}

.hidden {
  display: none;
  opacity: 0;
}



.name:hover {
  cursor: pointer;
}

.centering-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customizations-container {
  height: 400px;
  width: 200px;
  margin-left: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.customizations-forms-container {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

.solutions {
  display: flex;
  width: 298px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  flex-wrap: nowrap;
  color: white;
  padding: 0;
  margin: 0;
}

.center-text {
  width: 300px;
  overflow-wrap: break-word;
  text-align: center;
}

.calc-container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 8px solid black;
  background: black;
  opacity: 1;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2), 8px 12px 40px 8px rgba(0, 0, 0, 0.19);
}

.make-smaller-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 500px;
}

input:hover {
  cursor: pointer;
}

.calc-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 85px;
}

.calc-name:hover {
  cursor: pointer;
}

.calc-name-text {
  font-size: 35px;
  font-weight: bold;
  text-shadow: -1px -1px 0 lightblue, 1px -1px 0 lightblue, -1px 1px 0 lightblue, 1px 1px 0 lightblue;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 85%;
}

.calc-functions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 400px;
}

.calc-functions-container:hover {
  cursor: pointer;
}

.calc-row-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.calc-row-one div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 50px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: white;
}

.calc-row-one div:hover {
  opacity: .7
}

.calc-row-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.calc-row-two div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 50px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: white;
}

.calc-row-two div:hover {
  opacity: .7
}

.calc-row-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.calc-row-three div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 50px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: white;
}

.calc-row-three div:hover {
  opacity: .7
}

.calc-row-four {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.calc-row-four div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 50px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: white;
}

.calc-row-four div:hover {
  opacity: .7
}

.calc-row-five {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.calc-row-five div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 50px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: white;
}

.calc-row-five div:hover {
  opacity: .7
}

.calc-row-six {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.calc-row-six div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 50px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  color: white;
}

.calc-row-six div:hover {
  opacity: .7;
  /* text-shadow: 10px 10px 10px 10px white; */
}

.last-border {
  border-right: 1px solid white;
}

.bottom-border {
  border-bottom: 1px solid white;
}

.del-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
