.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hidden {
  display: none;
  opacity: 0;
}

.name:hover {
  cursor: pointer;
}

.centering-container {
  width: 66%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customizations-container {
  height: 400px;
  width: 200px;
  margin-left: 20px;
  border: 1px solid black;
}

.solutions {
  display: flex;
  width: 300px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex-wrap: nowrap;
}

.center-text {
  width: 300px;
  overflow-wrap: break-word;
  text-align: center;
}

.calc-container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.calc-container:hover {
  cursor: pointer;
}

.calc-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-functions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 300px;
}

.calc-row-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.calc-row-one div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.calc-row-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.calc-row-two div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.calc-row-three {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.calc-row-three div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.calc-row-four {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.calc-row-four div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.calc-row-five {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.calc-row-five div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.calc-row-six {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.calc-row-six div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
